<div class="header u-unselectable header-animated">
    <div class="header-brand">
        <div class="nav-item no-hover">
            <a><h6 class="title">D&D Utilities</h6></a>
        </div>
    </div>
    <div class="header-nav" id="header-menu">
        <div class="nav-left">
            <div class="nav-item text-center">
                <a target="_blank" href="https://github.com/unstableconfiguration/dnd-utilities">
                    <span class="icon">
                        <i class="fab fa-wrapper fa-github" aria-hidden="true"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="nav-right">
            <div class='nav-item text-center' >
                <a href='#dice'>
                    <span class='icon'>
                        <i class="fas fa-dice-d20"></i>
                    </span>
                </a>
            </div>
            <div class="nav-item active">
                <a href='#lookups'>Lookups</a>
            </div>
            <div class="nav-item">
                <a href="#battle-manager">Battle Manager</a>
            </div>
            <div class="nav-item">
                <a href="#encounter-builder">Encounter Builder</a>
            </div>
        </div>
    </div>
</div>