<div id='spellbox'>
    <h6 name='Name'></h6>
    <div><span>Level </span><span name='Level'></span><span> </span><span name='School'></span></div>
    <div><span style='font-weight:bold'>Casting Time: </span><span id='CastingTime' name='CastingTime'></span></div>
    <div><span style='font-weight:bold'>Range: </span><span id='Range' name='Range'></span></div>
    <div><span style='font-weight:bold'>Components: </span><span id='Components' name='Components'></span></div>
    <div><span style='font-weight:bold'>Duration: </span><span id='Duration' name='Duration'></span></div>
    <p id='Description' name='Description'></p>
</div>