<div>
    <h6 data-field='Name'></h6>
    <div><span>Level </span><span data-field='Level'></span><span> </span><span data-field='School'></span></div>
    <div><span style='font-weight:bold'>Casting Time: </span><span id='CastingTime' data-field></span></div>
    <div><span style='font-weight:bold'>Range: </span><span id='Range' data-field></span></div>
    <div><span style='font-weight:bold'>Components: </span><span id='Components' data-field></span></div>
    <div><span style='font-weight:bold'>Duration: </span><span id='Duration' data-field></span></div>
    <p id='Description' data-field></p>
</div>