<div class='form-group'>  
    <label class='form-group-input'>
        <span class='icon'>
            <i class="fas fa-dice-d20"></i>
        </span>
    </label>
    
    <input id='dice-input' class='form-group-input input-small w-50' type='text' placeholder='1d6'>
    </input>

    <div class="list-dropdown dropdown-right">
        <button id='dice-output' class="form-group-btn btn-small btn-dropdown">    
            =
        </button>
        <div id='dice-output-log' class="menu">
        </div>
    </div>  
    
</div>