<style>
    
#monsterbox { 
    text-align: left
}
/* Override of cirrus divider for red-800 color and margin*/
#monsterbox .divider { 
    margin: .25rem 0 .25rem 0;
    border-top: .1rem solid rgba(155,19, 19, 1);
    height: .1rem;
    position: relative;
}

#monsterbox .font-size-l {
    font-size : large;
}


.monster-stat {
    color :rgba(155, 19, 19, 1);
    display:inline-block;
    text-align:center;
    width: 60px;
}

</style>

<div id='monsterbox'>
	<div>
		<span id='Name' class='font-size-l font-bold text-red-800' data-field></span>
	</div>
	<div style='font-style:italic;'>
		<span id='Size' data-field></span>
		<span id='Type' data-field></span><span>,</span>
		<span id='Alignment' data-field></span>
	</div>
	<div class='divider'></div>
	<div>
		<span class='font-bold text-red-800'>Armor Class </span>
		<span id='Ac' data-field='Defenses.AC'>
	</div>
	<div>
		<span class='font-bold text-red-800'>Hit Points </span>
		<span id='Hp' data-field='Defenses.HP'></span>
	</div>
	<div>
		<span class='font-bold text-red-800'>Speed </span>
		<span id='Speed' data-field></span>
	</div>
	<div class='divider'></div>
	<div class='text-red-800'>
		<div>
			<span class='monster-stat font-bold'>STR</span>
			<span class='monster-stat font-bold'>DEX</span>
			<span class='monster-stat font-bold'>CON</span>
			<span class='monster-stat font-bold'>INT</span>
			<span class='monster-stat font-bold'>WIS</span>
			<span class='monster-stat font-bold'>CHA</span>	
		</div>
		<div>
			<span id='Str' data-field='Stats.Str' class='monster-stat'></span>
			<span id='Dex' data-field='Stats.Dex' class='monster-stat'></span>
			<span id='Con' data-field='Stats.Con' class='monster-stat'></span>
			<span id='Int' data-field='Stats.Int' class='monster-stat'></span>
			<span id='Wis' data-field='Stats.Wis' class='monster-stat'></span>
			<span id='Cha' data-field='Stats.Cha' class='monster-stat'></span>
		</div>
	</div>
	<div class='divider'></div>
	<div>
		<span class='font-bold text-red-800'>Saving Throws </span>
		<span id='Saves' data-field='Defenses.Saves'>
	</div>
	<div>
		<span class='font-bold text-red-800'>Skills</span>
		<span id='Skills' data-field></span>
	</div>
	<div>
		<span class='font-bold text-red-800'>Damage Vulnerabilities</span>
		<span id='Vulnerable' data-field='Defenses.Vulnerable'></span>
	</div>
	<div> 
		<span class='font-bold text-red-800'>Damage Resistances</span>
		<span id='Resist' data-field='Defenses.Resist'></span>
	</div>
	<div>
		<span class='font-bold text-red-800'>Damage Immunities </span>
		<span id='Immune' data-field='Defenses.Immune'>
	</div>
	<div>
		<span class='font-bold text-red-800'>Condition Immunities </span>
		<span id='ConditionImmune' data-field='Defenses.ConditionImmune'>
	</div>
	<div>
		<span class='font-bold text-red-800'>Senses </span>
		<span id='Senses' data-field></span>
	</div>
	<div>
		<span class='font-bold text-red-800'>Languages </span>
		<span id='Languages' data-field></span>
	</div>
	<div>
		<span class='font-bold text-red-800'>Challenge </span>
		<span id='ChallengeRating' data-field='ChallengeRating'></span>
	</div>
	<div class='divider'></div>
	<div id='monster-traits'>
	</div>
	<div id='monster-actions'>
		<span class='font-bold text-red-800'>Actions</span>
		<div class='divider'></div>
	</div>
	<div id='monster-reactions'>
		<span class='font-bold text-red-800'>Reactions</span>
		<div class='divider'></div>
	</div>
	<div id='monster-legendary-actions'>
		<span class='font-bold text-red-800'>Legendary Actions</span>
		<div class='divider'></div>
		<span>They can take 3 legendary actions, choosing from the
options below. Only one legendary action option can be used
at a time and only at the end of another creature's turn. They regain spent legendary actions at the start of their turn.</span>
	</div>
	<div id='monster-items'>
		<span class='font-bold text-red-800'>Items</span>
		<div class='divider'></div>
		<span>The creature carries these items on top of any mundane items mentioned in its description.</span>
	</div>
	
</div>